* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1px;

    text-align: center;
}
